<section class="adminorders light-section">
    <div class="container mx-auto pt-12">
        <h1 class="font-bold mb-4 orderheading"> All Orders </h1> 
        
        <table class="w-full table-auto bg-white mt-3">
            <thead>
                <tr>
                    <th class="border px-4 py-2 text-left ordertablehead">Orders</th>
                    <th class="border px-4 py-2 text-left ordertablehead"> Customer</th>
                    <th class="border px-4 py-2 text-left ordertablehead">Contact</th>
                    <th class="border px-4 py-2 text-left ordertablehead"> Address</th>
                    <th class="border px-4 py-2 text-left ordertablehead"> Status </th>
                    <th class="border px-4 py-2 text-left ordertablehead"> Placed At </th>
                </tr>
            </thead>
            <tbody id="orderTableBody">
            </tbody>
        </table>
    </div>
</section>