<section class="contactsec">
    
    <div class="container">
        <div class="row my-5"> 
            <div class="col-md-12 col-lg-6 col-12 contact_left">
                <h1 class="text-center touch"> - Get in Touch -</h1>
                <h5 class="text-center free"> Feel free to contact me for any queries. </h5><br>
                <div class="row">
                    <div class="col-md-6 col-lg-6 col-12">
                        <div class="imgsec">
                            <div class="box">
                                <div class="imgbx">
                                    <img src="img/call1.png">
                                </div>
                                <div class="content">
                                    <div class="icon">
                                        <img src="img/call.png">
                                    </div>
                                    <h3> Contant No.</h3>
                                    <h4 class="mb-2">+91 96015 81001</h4>
                                    <h4>+91 93132 63557</h4>
                                </div>
                            </div>
                        </div>
                    </div>        
                    <div class="col-md-6 col-lg-6 col-12">
                        <div class="imgsec">
                            <div class="box">
                                <div class="imgbx">
                                    <img src="img/open-email1.png">
                                </div>
                                <div class="content">
                                    <div class="icon">
                                        <img src="img/open-email.png">
                                    </div>
                                    <h3> Email: </h3>
                                    <h4 class="mb-2">anujdarji2001@gmail.com</h4>
                                    <h4>2001vedant@gmail.com</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
                <div class="col-md-12 col-lg-6 col-12 contact_right my-3">
                    <div class="container">
                        <h1 class="text-center touch mb-2"> - Ask Us -</h1>
                        <h5 class="text-center free">Let's suggest your feedback or any query. We will be in touch within one day.</h5><br>
                        <form action="/contact" method="post" class="mt-5">
                            <div class="form-group">
                            <input type="text" style="font-size:15px;" class="form-control py-4" placeholder="Enter Your name" autocomplete="off" required   name="name"> 
                            </div>
                            <div class="form-group">
                                <input type="email" style="font-size:15px;" class="form-control py-4" placeholder="Enter Your Email" autocomplete="off"  required  name="email">
                            </div>
                            <div class="form-group">
                                <input type="tel" style="font-size:15px;" class="form-control py-4" placeholder="Enter Contact No." required autocomplete="off" pattern="^\d{10}$" name="contactno">
                            </div>
                            <div class="form-group">
                                <textarea style="font-size:15px;" class="form-control" rows="5" placeholder="Enter Your Message" autocomplete="off" required  name="msg"></textarea>
                            </div>
                            <div class="d-flex justify-content-center">
                                <button class="consubmit" type="submit">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
        </div>
    </div>
</section>