<section class="mainsec">
    <div class="container main_header">
        <div class="row colrev">
            <!-- left side -->
            <div class="col-md-6 col-4 main_left">
                
                <% if(user) { %>

                        <p class="username"><span></span> Hello, <br> <span><%= user.name%></span></p>
                
                <% } %>

                <p class="hungryclass">Are You Hungry?</p>
                <p class="dontwaitclass">Don't wait!</p>
                <a href="/menu"><button class="orderbtn">Order Now</button></a>
            </div>

            <!-- right side -->
            <div class="col-md-6 col-8 main_right">
                <img src="img/heropizza4.png" class="heroimg" alt="" width="100%">
            </div>
        </div>
    </div>
</section>





<section class="service">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
      <div class="col-md-7 text-center">
        <h2 class="mb-4 servicehead">Our Services</h2>
        <p class="servicepara"> We can supply the best service for you.</p>
      </div>
    </div>
        <div class="row">
      <div class="col-md-4">
        <div class="media d-block text-center block-6 services">
          <div class="icon d-flex justify-content-center align-items-center mb-5">
            <span><img src="https://img.icons8.com/color/70/000000/pizza.png"/></span>
          </div>
          <div class="media-body">
            <h3 class="heading">Healthy Foods</h3>
            <p>We use only the best ingredients to cook the tasty fresh food for you.</p>
          </div>
        </div>      
      </div>
      <div class="col-md-4 ftco-animate">
        <div class="media d-block text-center block-6 services">
          <div class="icon d-flex justify-content-center align-items-center mb-5">
              <span><img src="https://img.icons8.com/color/70/000000/pizza-delivery.png"/></span>
          </div>
          <div class="media-body">
            <h3 class="heading">Fastest Delivery</h3>
            <p>Everything you order at QuickFood will be quickly delivered to your door.</p>
          </div>
        </div>      
      </div>
      <div class="col-md-4 ftco-animate">
        <div class="media d-block text-center block-6 services">
          <div class="icon d-flex justify-content-center align-items-center mb-5">
            <span><img src="https://img.icons8.com/emoji/70/000000/man-cook.png"/></span>
        </div>
          <div class="media-body">
            <h3 class="heading">Experienced Chef's</h3>
            <p>Our staff consists of chefs and cooks with years of experience.</p>
          </div>
        </div>    
      </div>
    </div>
    </div>
</section>




<section class="happycustomer">
        <div class="section-title">
            <h4>DON'T TAKE OUR WORD FOR IT.</h4>
            <h2>WHAT HEAR WHAT FOODIES SAY.</h2>
            <h6>Give your feedback in contact section. Prodigious feedbacks are shown here.</h6>
            <span class="section-separator"></span>
        </div>
    
    <div class="wrapper">
        <div class="box xl:mr-4">
          <i class="fas fa-quote-left quote mb-3"></i>
          <p class="cardpara">Anyone Who Says That Money Can't Buy Happiness has Clearly Never Spent Their Money On <b> AV PIZZERIA'S PIZZA😍</b> </p>
          <div class="content">
            <div class="info">
              <div class="name">Priya Shah</div>
              <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
            </div>
            <div class="image">
              <img src="img/dwomen001.jpg" alt="">
            </div>
          </div>
        </div>
        <div class="box xl:mr-4">
          <i class="fas fa-quote-left quote mb-3"></i>
          <p class="cardpara">The pizza here is real amazing and would recommend trying these guys out. They have a great toppings selections and great prices. Consistently great pizza with great variety of toppings and styles.</p>
          <div class="content">
            <div class="info">
              <div class="name">Kavisha Sadhu</div>
              <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
              </div>
            </div>
            <div class="image">
              <img src="img/dwomen003.jpg" alt="">
            </div>
          </div>
        </div>
        <div class="box">
          <i class="fas fa-quote-left  quote mb-3"></i>
          <p class="cardpara">I Just Think of Dieting, Then I ordered that <b>AV Pizzeria's pizza</b>  Now I realise maybe I can't think, just eat ❤️</p>
          <div class="content">
            <div class="info">
              <div class="name">Ritu Suthar</div>
              <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
            </div>
            <div class="image">
              <img src="img/dwomen002.png" alt="">
            </div>
          </div>
        </div>
      </div>
</section>

