@media (max-width: 768px) {

    html {
        font-size: 55%;
    }
    body {
        overflow-x: hidden;
    }

    .imglogo {
        width: 65%;
        margin-top: 0.5rem;
        margin-left: 0;
    }

    .imglogoc{
        width: 65%;
        margin-top: 0.5rem;
        margin-left: 0;
    }
    
    .flexclass .cartdiv{
        margin-left: 0rem;
        margin-top: 0.3rem;
    }

    .nav-item:nth-child(1) a:hover::before {
        width: 0%;
    }
    
    .nav-item:nth-child(2) a:hover::before {
        width: 0%;
    }
    
    .nav-item:nth-child(3) a:hover::before {
        width: 0%;
    }
    
    .nav-item:nth-child(4) a:hover::before {
        width: 0%;
    }
    
    
.nav-item:nth-child(5) a:hover::before {
    width: 0%;
}

    .main_left {
        height: 38rem;
    }

    .main_left .username{
        font-size: 1.5rem;
        margin-left: 0.1rem;
    }
    
    .main_left .username span{
        font-size: 2rem;
    }
    
    .main_left .hungryclass {
        font-size: 2.5rem;
    }
    
    .main_left .dontwaitclass {
        font-size: 4rem;
    }
    
    .main_left button {
        font-size: 1.3rem;
    }

    .main_right .heroimg {
        width: 180%;
    }

    .service{
        margin: 3rem 0;
    }

    .servicepara {
        margin-top: -0.7rem;
    }

    .services h3 {
        margin-bottom: 1rem;
        margin-top: -2rem;
    }

    .services .media-body p{
        margin-bottom: 4rem;
     }

    .ftco-animate {
        border-left: none
      }
      
    .happycustomer {
        margin-top: -1rem;
    }
  
    .section-separator:before{
        
        left: 36%;
    }
    
    .grid-container {
        display: grid;
        grid-template-columns: auto auto;
        grid-column-gap: 3rem;
        grid-row-gap: 4rem;
    }

    .pizza-filter .sizebtn {
        font-size: 1.5rem;
    }

    .pizzaprice {
        margin-right: 1.3rem;
    }

    .summerypizza{
        width: 28%;
    }
    
    .summryprice{
        font-size: 2rem;
    }
    
    .summryqty{
        font-size: 2rem;
        margin-right: 3rem;
        margin-left: 2rem;
    }

    table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }

    .delheading {
        font-size: 2.1rem;
    }
    .delid {
        margin-top: 3.5rem;
        margin-bottom: 1.5rem;
        background: #fff;
    }

    .status-box ul li span:before {
        font-size: 3rem;
        left: -70px;
    }

    .status-box ul {
        margin-left: 80px;
    }
    

    .status_line {
        font-size: 1.8rem;
    }

    .status-box ul li.current-status span {
        font-size: 2rem;
    }
    
    .log-in-container, .signup-container {
        width: 100%!important;
        left: 0!important;
    }

    .logincont, .registerCont {
        width: 300px!important;
        margin-top: 5rem;
    }

    .imgsec {
        margin: 30px 0;
    }

    .imgsec .box .content h3{
        
        font-size: 2.8rem;
    }
    
    .imgsec .box .content h4{
        
        font-size: 1.6rem;
    }
    

    .footer {
        font-size: 14px;
        padding: 40px;
      }
      .footer .footer-left,
      .footer .footer-center,
      .footer .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
      }

      .footer .footer-center{
          margin-left: 0;
      }

      .footer .footer-center i {
        margin-left: 0;
      }
      .footer .footer-center .footcon {
        margin-left: 6.8rem;
    }

    .footlogo {
        margin-left: 8rem;
        width: 100%;
    }
    
}

@media (min-width: 768px) and (max-width: 1024px)  {

    .imglogo {
        width: 35%;
        margin-top: 0.5rem;
        margin-left: 0;
    }

    .imglogoc{
        width: 35%;
        margin-top: 0.5rem;
        margin-left: 0;
    }
    

    .flexclass .cartdiv{
        margin-top: 2.8rem;
        margin-left: 0rem;
    }

    .main_left .username{
        font-size: 2.5rem;
        margin-left: 1.5rem;
    }
    
    .main_left .username span{
        font-size: 3.5rem;
    }
    

    .main_left .hungryclass {
        font-size: 3.5rem;
        margin-left: 1.5rem;
    }
    
    .main_left .dontwaitclass {
        font-size: 5rem;
        margin-left: 1.5rem;
    }
    
    .main_left button {
        font-size: 2rem;
        margin-left: 1.5rem;
    }

    .pizzasofmenu {
        width: 100%;
    }

    .pizzaname {
        font-size: 3rem;
    }
    
    .pizzasize {
        font-size: 2.5rem;
    }
    
    .pizzaprice {
        font-size: 2.5rem;
    }

    .pizza-filter .sizebtn {
        font-size: 2rem;
    }

    .add_to_cart {
        font-size: 2rem;
    }

    .summryprice{
        font-size: 3rem;
    }
    
    .summryqty{
        font-size: 2.5rem;
        margin-right: 10rem;
        margin-left: 2rem;
    }

    .summrytotal{
        font-size: 3.4rem;
    }

    .summarytotalprice{
        font-size: 3rem;
    }

    .submitbtn, .gobackbtn{
        font-size: 2rem;
    }

    .orderheading {
        font-size: 3.5rem;
    }

    .ordertable{
        margin-top: 3rem!important;
    }

    .ordertablehead{
        font-size: 3rem;
    }

    .ordertabledata {
        font-size: 2rem;
    }

    .adminid{
        font-size: 2.3rem;
    }
    
    .adminitem{
        font-size: 1.8rem;
    }
    
    
    .delheading {
        font-size: 3.5rem;
        margin-top: 2rem;
        margin-left: 2rem;
    }
    .delid {
        margin-top: 2.5rem;
        margin-bottom: 1.5rem;
        background: #fff;
        font-size: 2.5rem;
    }

    .status-box ul li span:before {
        font-size: 5rem;
        left: -80px;
    }

    .status-box ul {
        margin-left: 110px;
    }
    
    .status_line {
        font-size: 3rem;
    }

    .status-box ul li.current-status span {
        font-size: 3.3rem;
    }

    .status-box ul li small {
        font-size: 2.5rem;
        margin-right: 3rem;
    }

    .status-box ul li span::after {
        width: 19.5px;
        height: 19.5px;
        left: -13px;
        box-shadow:0 0 1px 12px #f8f8f8;
    }

    .status-box ul li::before {
        width: 3px;
    }

    .log-in-container, .signup-container {
        width: 100%!important;
        left: 0!important;
    }

    .logincont, .registerCont {
        width: 450px!important;
        height: 600px!important;
        margin-top: 5rem;
    }

    .loginheading , .signupheading{
        margin-top: -3rem;
        font-size: 6rem;
    }
    .useacctext , .forgettext , .alreadytext{
        font-size: 2.5rem;
    }

    .loginbtn{
        font-size: 2rem;
        margin-top: 1rem;
    }

    .regibtn{
        font-size: 2rem;
        margin-top: 2rem;
    }

    .touch {
        margin-top: 5rem;
        font-size: 4rem;
    }

    .free {
        font-size: 2rem;
    }

    .consubmit{
        font-size: 2.5rem;
    }

    .footer .footer-left {
        display: inline;
      }

      .footer .about {
          margin: 0 8rem;
          font-size: 1.8rem;
      }

      .footer .about span {
          text-align: center;
      }

      .footer .footer-center {
        width: 33%;
        display: inline;
      }

      .footer .footer-right {
        width: 33%;
        display: inline;
      }

      .footlogo {
        margin-left: 19.8rem;
    }
        
}


@media (min-width: 1024px) and (max-width: 1366px)  {
    .imglogo {
        width: 35%;
        margin-top: 0.5rem;
        margin-left: 1.5rem;
    }

    .imglogoc{
        width: 50%;
        margin-top: 0.5rem;
        margin-left: 1.5rem;
    }

    .flexclass .cartdiv{
        margin-top: 2rem;
        margin-left: 0rem;
    }

    .contact_left{
        margin-top: 1.1rem;
    }

    .delid {
        margin-top: 6.3rem;
        margin-bottom: 4rem;
        background: #fff;
    }


    .status-box ul li span:before{
        left: -110px;
    }

    .status-box ul li span::after {
        width: 20px;
        height: 20px;
        left: -13px;
        box-shadow:0 0 1px 12px #f8f8f8;
    }

    .status-box ul li::before {
        width: 3px;
    }

    .footer .about {
        margin: 0 5rem;
    }

    .footer-left , .footer-center, .footer-right{
        text-align: center;
    }
    
    .footlogo {
        margin-left: 30rem;
    }

    table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }

}